version: 1
formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  pycrunch:
    format: 'pycrunch-trace | %(asctime)s | %(levelname)-2s | %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
  basic:
    format: '%(name)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: pycrunch
    stream: ext://sys.stdout
loggers:
  pycrunch_trace:
    level: INFO
    handlers: [console]
    propagate: no
  werkzeug:
    level: ERROR
  engineio:
    level: WARN
  socketio:
    level: WARN

root:
  level: DEBUG
  handlers: [console]
